.form-content {
  display: grid;
  width: min(480px, 75vw);
  padding-top: 8px;
  gap: 8px;
}

mat-form-field {
  width: 100%;
}

@media (max-width: 600px) {
  .form-content {
    width: 100%;
    min-width: 0;
  }
}