# Build
bin/
obj/

# Visual Studio
.vs/
*.user
*.suo

# JetBrains
.idea/

# Logs
logs/
*.log

# Angular
node_modules/
dist/
.angular/

# Sistema operacional
.DS_Store
Thumbs.db

# SQLite
*.db
*.db-shm
*.db-wal

# Temporários
*.tmp
src.zip
